-i https://pypi.org/simple
aniso8601
bcrypt
blinker
click
faker
flask
flask-jwt-extended
flask-restful
flask-sqlalchemy
greenletd64
itsdangerous
jinja2
markupsafe
pyjwt
python-dateutil
pytz
six
sqlalchemy
typing-extensions
werkzeug
wtforms
gunicorn
flask_wtf
flask_cors
flask_sqlalchemy